01- Number and variable assignment
02- Operators

# Basic Arithhmatic

In [1]:
2+1

3

In [2]:
2-1

1

In [3]:
2*2

4

In [4]:
7/4

1.75

In [5]:
7//4#floor division

1

In [6]:
7%4

3

In [7]:
2**3

8

In [8]:
4**0.5

2.0

In [9]:
2 + 10 * 10 + 5

107

In [10]:
(2+10)*(10+5)

180

# Dynamic Typing

In [11]:
my_dogs = 2
my_dogs

2

In [12]:
my_dogs = ['Sammy','Franky']
my_dogs

['Sammy', 'Franky']

Pros of Dynamic Typing - very easy to work with, faster development time

Cons of Dynamic Typing - may result in unexpected bugs!, you need to be aware of type()

In [13]:
type(my_dogs)

list

# Variable Assignment

In [14]:
a=5
a

5

In [15]:
a=a+a

In [16]:
a

10

Reassigning Variable

In [17]:
a=a+10
a

20

In [18]:
a+=10
a

30

In [19]:
a*=10
a

300

Determining Variable type

In [20]:
type(a)

int

In [21]:
a=(1,2)
type(a)

tuple

# DataTypes

Int (for integer)

float

str (for string)

list

tuple

dict (for dictionary)

set

bool (for Boolean True/False)

In [22]:
income=4000

tax_rate=0.1

tax_amount = income*tax_rate

tax_amount

400.0

02-String

In [23]:
'Hello'

'Hello'

In [24]:
"Hello"

'Hello'

In [25]:
"I'm gonna stay"

"I'm gonna stay"

In [26]:
'Hello World1'
'Hello World2' #prints the last string

'Hello World2'

In [27]:
print('Hello World1')
print('Hello World2')
print('\n')
print('Hello World3')

Hello World1
Hello World2


Hello World3

String Index

In [28]:
s= 'Hello World'
s

'Hello World'

In [29]:
print(s)

Hello World

Indexing & slicing

In [30]:
s[0]

'H'

In [31]:
s[4]

'o'

In [32]:
s[1:] #include 1

'ello World'

In [33]:
s

'Hello World'

In [34]:
s[:3] #exclude 3

'Hel'

In [35]:
s[:]

'Hello World'

In [36]:
s[-1]

'd'

In [37]:
s[:-1]

'Hello Worl'

In [38]:
s[::1]

'Hello World'

In [39]:
s[::2]

'HloWrd'

In [40]:
s[::-1]

'dlroW olleH'

In [41]:
s[2:7:2]

'loW'

String Properties

In [42]:
s

'Hello World'

In [43]:
#immutable
s[0]='h'

TypeError: 'str' object does not support item assignment

In [44]:
s+" it's me!"

"Hello World it's me!"

In [45]:
letter = 'z'
letter*3

'zzz'

string methods

In [46]:
len(s)

11

In [47]:
s.lower()

'hello world'

In [48]:
s.upper()

'HELLO WORLD'

In [49]:
s.split()

['Hello', 'World']

In [50]:
s.split('l')

['He', '', 'o Wor', 'd']

03 - Print Formating

In [51]:
'Insert another String: {}'.format('Inserted')

'Insert another String: Inserted'

String Formatting

In [52]:
player ='Max'
points = 2
player+' has '+str(points)+' points in the point table.'

'Max has 2 points in the point table.'

In [53]:
f'{player} has {points} points in the point table'

'Max has 2 points in the point table'

Formatting with a place holder

In [54]:
print('Insert %s here' %'something')

Insert something here

In [55]:
print('insert %s here and %s here' %('some','more'))

insert some here and more here

In [56]:
x,y='some','more'
print('insert %s here and %s here' %(x,y))

insert some here and more here

format conversion method

In [57]:
print('I once caught a fish %s' %'this \t big') #str() uses string method
print('I once caught a fish %r' %'this \t big') #repr() representation of object

I once caught a fish this 	 big
I once caught a fish 'this \t big'

In [58]:
print('I wrote %s programs today' %3.17)
print('I wrote %d programs today' %3.17) #converts number to integer

I wrote 3.17 programs today
I wrote 3 programs today

Padding and precision of floating point number

In [59]:
print('Floating number: %5.2f' %(13.4563))

Floating number: 13.46

In [60]:
print("Floating number: %1.0f" %(13.4563))

Floating number: 13

In [61]:
print("Floating number: %1.0f" %(13.5563))

Floating number: 14

In [62]:
print("Floating number: %1.5f" %(2413.44))

Floating number: 2413.44000

In [63]:
print('Floating number: %10.2f' %(13.4563))

Floating number:      13.46

In [64]:
print('Floating number: %25.2f' %(13.4563))

Floating number:                     13.46

Multiple Formatting

In [65]:
print('First: %s, Second: %5.2f, Third: %r'%('Hi!',3.1415, 'bye!'))

First: Hi!, Second:  3.14, Third: 'bye!'

Formatting with .format method

In [66]:
print('insert text: {}'.format('inserted'))

insert text: inserted

In [67]:
print('{} {} {}'.format('quick','brown', 'fox'))

quick brown fox

In [68]:
print('{2} {1} {0}'.format('quick','brown', 'fox'))

fox brown quick

In [69]:
print('{b} {q} {f}'.format(q='quick', f='fox', b='brown'))

brown quick fox

In [70]:
print('%s saved is %s earned'%('penny','penny'))
print('{p} saved is {p} earned'.format(p='penny'))

penny saved is penny earned
penny saved is penny earned

Alignment, padding, precision with format()

In [71]:
#   0th elem | 1st elem
print('{0:8} | {1:9}'.format('fruit','Quantity'))
print('{0:8} | {1:9}'.format('Apple', 10))
print('{0:8} | {1:9}'.format('Oranges',3.0))

fruit    | Quantity
Apple    |        10
Oranges  |       3.0

In [72]:
# 0th elem | 1st elem | 2nd elem
print('{0:8} | {1:8} | {2:8}'.format('Left', 'Center', 'Right'))
print('{0:<8} | {0:^8} | {0:>8}'.format(11, 22, 33.0)) #Alignment
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,3.0)) #padding
print('{0:=8} | {1:=8} | {2:=8}'.format(11,22,3.0)) #padding

Left     | Center   | Right
11       |    11    |       11
11====== | ---22--- | .....3.0
      11 |       22 |      3.0

In [73]:
print('Number is: %10.2f'%10.23456)
print('Number is: {0:10.2f}'.format(10.23456))
print('Number is: {10.2f}'.format(10.23456))

Number is:      10.23
Number is:      10.23

IndexError: tuple index out of range

Formatting string literals(f-string)

In [74]:
name= 'fred'

print(f'my name is {name}')
print(f'my name is {name!r}')

my name is fred
my name is 'fred'

Float formatting

In [75]:
num=23.34567
print('number is :{0:10.4f}'.format(num))
print(f'number is :{num:10.4f}')
print(f'number is :{num:{10}.{6}}') #{value:{width}.{precision}}

number is :   23.3457
number is :   23.3457
number is :   23.3457

04-List

In [76]:
#List most general version of sequence - mutable - constructed with []
#string is also a sequence - immutable

In [77]:
my_list=[1,2,3]
my_list

[1, 2, 3]

In [78]:
my_list=['Str',23.100, 234, 'o']
my_list

['Str', 23.1, 234, 'o']

In [79]:
len(my_list)

4

Indexing and Slicing

In [80]:
my_list=['one','two','three',4,5]

In [81]:
my_list[0]

'one'

In [82]:
my_list[-1]

5

In [83]:
my_list[1:]

['two', 'three', 4, 5]

In [84]:
my_list[:3]

['one', 'two', 'three']

In [85]:
my_list + ['six'] #two list concat

['one', 'two', 'three', 4, 5, 'six']

In [86]:
my_list

['one', 'two', 'three', 4, 5]

In [87]:
my_list + 'six'

TypeError: can only concatenate list (not "str") to list

In [88]:
my_list = my_list + ['six'] 
my_list

['one', 'two', 'three', 4, 5, 'six']

In [89]:
my_list*2 #mulitply

['one', 'two', 'three', 4, 5, 'six', 'one', 'two', 'three', 4, 5, 'six']

Basic List Method

more flexible than array- no fixed size, no type constraints

In [90]:
list1=[1,2,3]

In [91]:
list1.append('append me!')

In [92]:
list1

[1, 2, 3, 'append me!']

In [93]:
list1.pop()

'append me!'

In [94]:
poped_item = list1.pop(0)
poped_item

1

In [95]:
list1

[2, 3]

In [96]:
list1[0]

2

In [97]:
list1[10]

IndexError: list index out of range

In [98]:
list2 = ['f', 'x', 'p', 'a', 'b']
list2

['f', 'x', 'p', 'a', 'b']

In [99]:
list2.reverse() #Original list changes

In [100]:
list2

['b', 'a', 'p', 'x', 'f']

In [101]:
list2.sort() #Original list changes

In [102]:
list2

['a', 'b', 'f', 'p', 'x']

Nesting List

In [103]:
lst1=[1,2,3]
lst2=[4,5,6]
lst3=[7,8,9]
matrix=[lst1,lst2,lst3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [104]:
matrix[0]

[1, 2, 3]

In [105]:
matrix[0][0]

1

List Comprehension

In [106]:
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

05-Dictionaries

In [107]:
#mappings - collection with key value pair
dict1 ={'key1':'value1','key2':'value2'}

dict1

{'key1': 'value1', 'key2': 'value2'}

In [108]:
dict1['key1']

'value1'

In [109]:
dict1 = {'k1':123, 'k2':[1,2,3], 'k3':['item0','item1','item2']}
dict1['k3']

['item0', 'item1', 'item2']

In [110]:
dict1['k3'][0]

'item0'

In [111]:
dict1['k3'][0].upper()

'ITEM0'

In [112]:
dict1['k1'] = dict1['k1']-23
dict1['k1']

100

In [113]:
dict1['k1'] -=10
dict1['k1']

90

In [114]:
dict2={}
dict2['animal']='Dog'
dict2['answer']=42

In [115]:
dict2

{'animal': 'Dog', 'answer': 42}

nesting dictionary

In [116]:
dict3={'k1':{'nestedKey':{'subnestKey':20}}}
print(dict3['k1']['nestedKey']['subnestKey'])
print(dict3['k1'])
print(dict3['k1']['nestedKey'])

20
{'nestedKey': {'subnestKey': 20}}
{'subnestKey': 20}

Dictionary Methods

In [117]:
dict4={'key1':1, 'key2':2, 'key3':3}

In [118]:
dict4.keys()

dict_keys(['key1', 'key2', 'key3'])

In [119]:
dict4.values()

dict_values([1, 2, 3])

In [120]:
dict4.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

06-Tuples

In [121]:
#similar to lists but immutable
t =(1,2,3)
t

(1, 2, 3)

In [122]:
len(t)

3

In [123]:
t=('one',2, 3, 'four')
t

('one', 2, 3, 'four')

In [124]:
t[0]

'one'

In [125]:
t[-1]

'four'

Basic Touple Method

In [126]:
t.index('four')

3

In [127]:
t.count('four')

1

Immutability - tuple is used when immutability is necessary

In [128]:
t

('one', 2, 3, 'four')

In [129]:
t[0]='change'

TypeError: 'tuple' object does not support item assignment

In [130]:
t.append('nope') #immutable - cannot grow

AttributeError: 'tuple' object has no attribute 'append'

07-Sets and Boolean

In [131]:
#sets are unordered collection of unique elements
#we construct them by set functions

In [132]:
x=set()
x.add(1)
x

{1}

In [133]:
x.add(2)
x

{1, 2}

In [134]:
x.add(1)
x

{1, 2}

In [135]:
list1 = [1,1,2,2,3,3,4,4,5,6,6,7,8,8]

In [136]:
set(list1)

{1, 2, 3, 4, 5, 6, 7, 8}

Boolean

In [137]:
a = True
a

True

In [138]:
1>2

False

In [139]:
b=None
b

In [140]:
print(b)

None

08-Files

In [141]:
%%writefile test.txt
Hello, this is a quick test file

Overwriting test.txt

In [142]:
myfile = open('whoops.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'whoops.txt'

In [144]:
pwd

'C:\\Uday\\Pierian-Python-3-Bootcamp'

In [146]:
myfile = open ("C:\\Uday\\Pierian-Python-3-Bootcamp\\test.txt")

In [147]:
myfile.read()

'Hello, this is a quick test file'

In [148]:
myfile.read() #returns blank if we try to read it again. Cursor at the end

''

In [149]:
myfile.seek(0)

0

In [150]:
myfile.read()

'Hello, this is a quick test file'

In [151]:
myfile.seek(0)
myfile.readline()

'Hello, this is a quick test file'

In [152]:
myfile.close()

Writing to a File

In [153]:
# w stands for write
# w+ stands for read and write

file2 = open('test.txt','w+')

In [154]:
#overwrite the existing file
file2.write('this is a new line')

18

In [155]:
file2.seek(0)
file2.read()

'this is a new line'

In [156]:
file2.close()

Appending to a File

In [157]:
my_file = open('test.txt','a+')
my_file.write('This is a 2nd line')

18

In [159]:
my_file.seek(0)
my_file.read()

'this is a new lineThis is a 2nd line'

In [160]:
my_file.close()

In [161]:
#apending with %%writefile

In [162]:
%%writefile -a test.txt
This is appended text

Appending to test.txt

In [163]:
my_file=open('test.txt')

In [164]:
my_file.read()

'this is a new lineThis is a 2nd lineThis is appended text'

Iterating through the file

In [170]:
%%writefile test.txt 
First line
Second line

Overwriting test.txt

In [171]:
for file1 in ('test.txt'):
    print(file1)

t
e
s
t
.
t
x
t

In [172]:
for file1 in open('test.txt'):
    print(file1)

First line

Second line

Test

In [173]:
1/4 +220 - 120 *1

100.25

In [174]:
s='hello'
s[1]

'e'

In [175]:
s[::-1]

'olleh'

In [176]:
list1 = [0,0,0]
list1

[0, 0, 0]

In [177]:
[0]*3

[0, 0, 0]

In [178]:
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [179]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [180]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][1][0]

'hello'

In [181]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [182]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set2 = set(list5)
set2

{1, 2, 3, 4, 11, 22, 33}

In [183]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

Python Operator

01- Comparison Operators

In [184]:
2 == 2 #Equal

True

In [185]:
1 == 0 #Equal

False

In [186]:
2 != 1 #Not Equal

True

In [187]:
2 != 2 #Not Equal

False

In [188]:
2 > 1 #Greater than

True

In [189]:
2 > 4 #Greater than

False

In [190]:
2 >= 2 #Greater than or equal to

True

In [191]:
2 >= 1 #Greater than or equal to

True

In [192]:
2 <= 2 #Less than or Equal to

True

In [193]:
2 <= 4 #Less than or Equal to

True

In [194]:
4**0.5 != 2

False

In [195]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

02-Chained Comparison Operator

In [196]:
1<2 and 2<3

True

In [197]:
1 < 2 < 3

True

In [198]:
1 < 3 > 2

True

In [199]:
1==2 or 2<3

True

In [200]:
1==1 or 100==1

True