<b>Methods

In [1]:
lst =[1,2,3,4,5]
lst

[1, 2, 3, 4, 5]

In [2]:
lst.append(6)
lst

[1, 2, 3, 4, 5, 6]

In [3]:
lst.count(2) #count the number of occurences of number passed

1

In [4]:
help(lst.count)

Help on built-in function count:

count(...) method of builtins.list instance
    L.count(value) -> integer -- return number of occurrences of value

In [5]:
lst.count?

<b>02-Functions

In [6]:
def say_hello():
    print('Hello')

In [7]:
say_hello()

Hello

In [8]:
def greetings(name):
    print('Hello {}'.format(name))

In [9]:
greetings('Max')

Hello Max

In [10]:
def addition(a,b):
    return a+b

In [11]:
result = addition(1,2)
result

3

In [12]:
result = addition('one','two')
result

'onetwo'

In [13]:
list(range(2,5))

[2, 3, 4]

In [14]:
def is_prime(num):
    '''
    This function checks if the number is prime.
    '''
    for n in range(2,num):
        if num%n==0:
            print('Not Prime')
            break
    else:
        print('Prime')

In [15]:
is_prime(13)

Prime

In [16]:
is_prime(9)

Not Prime

In [22]:
import math

def is_prime2(num):
    '''
    method to check prime
    '''
    if num%2==0 and num>2:
        return False
    for i in range(3, int(math.sqrt(num))+1, 2):
        if(num%i==0):
            return False
    return True

In [23]:
is_prime2(18)

False

In [24]:
is_prime2(17)

True

In [63]:
def lesser_of_two_evens(a,b):
    '''
    LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, 
    but returns the greater if one or both numbers are odd
    '''
    if(a%2==0 and b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [64]:
lesser_of_two_evens(2,4)

2

In [65]:
lesser_of_two_evens(2,5)

5

In [66]:
def animal_cracker(name):
    '''
    ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    '''
    words=list(name.split())
    return words[0][0]==words[1][0]

In [68]:
animal_cracker('Levelheaded Llama')

True

In [69]:
animal_cracker('Crazy Kangaroo')

False

In [20]:
def animal_cracker1(name):
    string_list=list(name.lower().split())
    letter = string_list[0][0]
    
    for words in string_list:
        if words[0] != letter:
            return False
    else:
        return True

In [21]:
animal_cracker1('Levelheaded Llama')

True

In [22]:
animal_cracker1('Crazy Kangaroo')

False

In [23]:
animal_cracker1('Levelheaded Llama Love')

True

In [24]:
animal_cracker1('Levelheaded Llama Cave')

False

In [71]:
def makes_twenty(n1,n2):
    '''
    MAKES TWENTY: Given two integers, 
    return True if the sum of the integers is 20 or if one of the integers is 20. 
    If not, return False
    '''
    return (n1+n2)==20 or n1==20 or n2 ==20

In [72]:
makes_twenty(20,10)

True

In [73]:
makes_twenty(12,8)

True

In [74]:
makes_twenty(2,3)

False

In [56]:
def makes_twenty1(n1,n2):
    '''
    MAKES TWENTY: Given two integers, 
    return True if the sum of the integers is 20 or if one of the integers is 20. 
    If not, return False
    '''
    if(n1==20 or n2==20):
        return True
    elif(n1+n2 == 20):
        return True
    else: return False

In [57]:
makes_twenty1(20,10)

True

In [58]:
makes_twenty1(8,12)

True

In [59]:
makes_twenty1(2,3)

False

In [99]:
def old_macdonald(name):
    '''
    OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
    '''
    name1 = ''
    for i, letter in enumerate (name):
        if (i==0 or i==3):
            name1 = name1+letter.upper()
        else:
            name1 = name1+letter
    return name1

In [100]:
old_macdonald('macdonald')

'MacDonald'

In [3]:
def old_macdonald1(name):
    '''
    OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
    '''
    return (name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:])

In [4]:
old_macdonald1('macdonald')

'MacDonald'

In [12]:
def master_yoda1(text):
    '''
    MASTER YODA: Given a sentence, return a sentence with the words reversed
    '''
    text_list = list(text.split())
    
    
    text1 = ''
    for x in text_list[::-1]:
        text1 = text1+x+' '
        
    return text1

In [13]:
master_yoda1('I am home')

'home am I '

In [14]:
master_yoda1('We are ready')

'ready are We '

In [3]:
def master_yoda(text):
    '''
    MASTER YODA: Given a sentence, return a sentence with the words reversed
    '''
    return ' '.join(text.split()[::-1])

In [4]:
master_yoda('I am home')

['home', 'am', 'I']

In [16]:
master_yoda('We are ready')

'ready are We'

In [2]:
def almost_there(n):
    '''
    ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
    '''
    return ((abs(100-n)<=10) or (abs(200-n)<=10))

In [3]:
almost_there(90)

True

In [4]:
almost_there(104)

True

In [5]:
almost_there(209)

True

In [6]:
almost_there(150)

False

In [1]:
def almost_there1(n):
    '''
    ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
    '''
    return (89<n<111 or 189<n<211)

In [2]:
almost_there1(90)

True

In [3]:
almost_there1(104)

True

In [4]:
almost_there1(150)

False

In [5]:
almost_there1(209)

True

In [11]:
def has_33(nums):
    '''
    Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
    '''
    for i in range(0, len(nums)-1):
        #if nums[i] == 3 and nums[i+1] == 3:
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [12]:
has_33([1, 3, 3])

True

In [8]:
has_33([1, 3, 1, 3])

False

In [17]:
has_33([3, 1, 3])

False

In [22]:
def has_33_1(nums):
    '''
    Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.
    '''
    bool_val = False
    for i in nums:
        if(i==3 and bool_val):
            return True
        elif(i==3):
            bool_val = True
        else:
            bool_val = False
    else:
        return False

In [23]:
has_33_1([1, 3, 3])

True

In [24]:
has_33_1([1, 3, 1, 3])

False

In [25]:
has_33_1([3, 1, 3])

False

In [14]:
def paper_doll(text):
    '''
    PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    '''
    text1 =''

    for x in text:
        text1 += (x*3)
    return text1

In [15]:
paper_doll('Hello')

'HHHeeellllllooo'

In [20]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [68]:
def blackjack(a,b,c):
    '''
    BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
    If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. 
    Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    '''
    sum = a+b+c
    if(sum > 21 and a == 11 or b == 11 or c == 11): #11 in (a,b,c)
        sum-=10
        
    if(sum>21):
        return 'BUST'
    else:
        return sum

In [69]:
blackjack(5,6,7)

18

In [70]:
blackjack(9,9,9)

'BUST'

In [71]:
blackjack(9,9,11)

19

In [79]:
def summer_69(arr):
    '''
    SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 
    and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
    '''
    sum = 0
    val = False
    for i in arr:
        if(i==6):
            val = True
            continue
        elif(val==True and i==9):
            val=False
        elif(val==True):
            continue
        else:
            sum += i
    return sum

In [80]:
summer_69([1, 3, 5])

9

In [81]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [82]:
summer_69([2, 1, 6, 9, 11])

14

In [16]:
def spy_game1(nums):
    '''
    SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
    '''
    val1 = False
    a=0
    for i in nums:
        if(i==0):
            a+=1
        elif(a==2 and i==7):
            return True
#        elif(i==7):
#            a=0
        else:
            continue
    else:
        return False

In [17]:
spy_game1([1,2,4,0,0,7,5])

True

In [18]:
spy_game1([1,0,2,4,0,5,7])

True

In [19]:
spy_game1([1,7,2,0,4,5,0])

False

In [26]:
def spy_game(nums):
    '''
    SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
    '''
    code =[0,0,7,'x']
    
    for x in nums:
        if x == code[0]:
            code.pop(0)
            
    return len(code) == 1

In [27]:
spy_game([1,2,4,0,0,7,5])

True

In [28]:
spy_game([1,0,2,4,0,5,7])

True

In [29]:
spy_game([1,7,2,0,4,5,0])

False

In [30]:
spy_game([1,0,2,7,4,0,5,7])

True

In [35]:
def count_primes3(num):
    '''
    COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
    '''
    count= 0
    if num==2:
        return 1
    for i in list(range(2,num+1)):
        for x in list(range(2,i)):
            if i%x==0:
                break
        else:
            count+=1
    return count

In [36]:
count_primes3(101)

26

In [33]:
count_primes3(3)

2

In [34]:
count_primes3(2)

1

In [37]:
count_primes3(100)

25

In [6]:
def count_primes(num):
    primes=[2]
    x=3
    if num < 2:
        return 0
    
    while x <= num:
        for y in range(3,x,2):
            if x%y==0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    
    print(primes)
    return len(primes)

In [7]:
count_primes(101)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101]

26

In [8]:
count_primes(3)

[2, 3]

2

In [9]:
count_primes(2)

[2]

1

In [10]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [11]:
def count_primes2(num):
    primes =[2]
    x = 3
    
    if num < 2:
        return 0
    
    while x <= num:
        for y in primes:
            if x%y == 0:
                x +=2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [12]:
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [20]:
def print_big1(letter):
    '''
    PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    '''
    pattern = { UP = ' ****',    MID = ' ****',    DOWN = ' ****',    BOTHSIDE = '\n*    *\n*    *\n*    *\n',    UPLEFT='\n*\n*\n*\n',    DOWNLEFT='\n*\n*\n*\n',    UPRIGHT='     \n     *\n     *\n     *\n',    DOWNRIGHT='     \n     *\n     *\n     *\n'}
    
    if(letter == 1):
        print(UPRIGHT+DOWNRIGHT)
    if(letter == 2):
        print(UP+UPRIGHT+MID+DOWNLEFT+DOWN)
    if(letter == 3):
        print(UP+UPRIGHT+MID+DOWNRIGHT+DOWN)
    if(letter == 4):
        print(BOTHSIDE+MID+DOWNRIGHT)

In [21]:
print_big1(4)

*    *
*    *
*    *
 ****
     *
     *
     *

In [19]:
def print_big(letter):
    '''
    PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    '''
    patterns = {1:'  *  ', 2:' * * ', 3:'*****',4:'*   *' }
    
    alphabet = {'A':[1,2,3,4,4]}
    
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [20]:
print_big('a')

  *
 * *
*****
*   *
*   *

<b>Map Function</b> - maps function to iterable object

In [17]:
def square(num):
    return num**2

In [18]:
my_nums=[1,2,3,4,5,6,7,8,9]

In [19]:
list(map(square,my_nums))#map(function,list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
list(map(my_nums,square))

TypeError: 'function' object is not iterable

In [9]:
def splicer(name):
    if len(name)%2==0:
        return 'even'
    else:
        return name[0]

In [10]:
my_names = ['Cindy', 'Max', 'John']

In [11]:
list(map(splicer, my_names))

['C', 'M', 'even']

<b>Filter Function</b> - returns iterator for which function is true

In [12]:
def check_even(num):
    return num%2==0

In [13]:
nums = [1,2,3,4,5,6,7,8,9]

In [14]:
filter(check_even, nums)

In [15]:
list(filter(check_even, nums))

[2, 4, 6, 8]

<b>Lambda

In [17]:
def square(num):
    return num**2

In [18]:
square(2)

4

In [19]:
lambda num: num**2

In [20]:
square = lambda num: num**2

In [21]:
square(2)

4

In [22]:
my_nums=[1,2,3,4,5,6,7,8,9]

In [23]:
list(map(lambda x:x**2, my_nums))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
my_names = ['Cindy', 'Max', 'John']

In [25]:
list(map(lambda s:s[0], my_names))

['C', 'M', 'J']

In [ ]:
my_names = ['Cindy', 'Max', 'John']

In [26]:
list(map(lambda s:s[::-1], my_names))

['ydniC', 'xaM', 'nhoJ']

In [27]:
add= lambda x,y:x+y

In [28]:
add(5,3)

8

<b>Scope</b> - Nested Statements and scope  --local, enclosing func, global, built-in :LEGB rule

In [29]:
x = 25

def printer():
    x=50
    return x

In [30]:
print(x)

25

In [31]:
print(printer())

50

In [33]:
#x is local here
f = lambda x:x**2

In [45]:
name = 'Global'

def greet():
    # Enclosing function
    name = 'Sammy'
    
    def hello():
        print('Hello '+name)
    
    hello()

greet()

Hello Sammy

In [46]:
#Global
print(name)

This is a global name

In [47]:
len
#built in function name

In [48]:
x = 50

def func(x):
    print('x is: ', x)
    x = 2
    print('local x is: ', x)
    
func(x)
print('x is still: ', x)

x is:  50
local x is:  2
x is still:  50

In [49]:
x = 50

def func():
    global x
    print('Global x: ',x)
    x=2
    print('Global x changed to: ',x)
    
print('before calling func() x: ',x)
func()
print('val of x outside func(): ',x)

before calling func() x:  50
Global x:  50
Global x changed to:  2
val of x outside func():  2

 <b>*args

In [38]:
def sum(a,b):
    return a+b

In [39]:
def myfunc(a,b):
    return sum(a,b)*.05

In [40]:
myfunc(40,60)

5.0

In [56]:
def myfunc(a,b):
    return sum((a,b))*.05 #have to pass in a tuple as tuple is iterable.

In [57]:
myfunc(40,60)

5.0

In [60]:
def myfunc(a=0,b=0,c=0,d=0,e=0):
    return sum((a,b,c,d,e))*0.05 #example of more than 2 numbers

In [61]:
myfunc(40,60)

5.0

In [62]:
myfunc(40,60,20)

6.0

In [63]:
def myfunc(*args):
    return sum(args)*0.05

In [64]:
myfunc(40,60)

5.0

In [65]:
myfunc(40,20,10,30)

5.0

In [67]:
def my_func(*spam):
    return sum(spam)*0.05

In [68]:
my_func(10,20,70)

5.0

<b>kwargs

**kwargs - instead of tuple values

**kwargs builds dictionary of key/value pair

In [71]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print(f"my favourite fruit is {kwargs['fruit']}")
        print(f"my juice is {kwargs['juice']}")
    else:
        print('I dont like fruit')

In [76]:
myfunc(fruit='banana', juice='orange')

my favourite fruit is banana
my juice is orange

 combined *args and **kwargs

In [81]:
def myfunc(*args, **kwargs):
    if 'juice' in kwargs:
        print(f"My favourite fruit is {kwargs['fruit']}")
        print(f"My favourite juice is {kwargs['juice']}")
    else:
        print(args)

In [82]:
myfunc(fruit='banana', juice='orange', 'egg', 'bread')

SyntaxError: positional argument follows keyword argument (<ipython-input-82-f7bae9418615>, line 1)

In [83]:
myfunc('egg', 'bread', fruit='banana', juice='orange')

My favourite fruit is banana
My favourite juice is orange

Home Work

In [89]:
def vol_sphere(rad):
    '''
    volume of sphere : 4/3*pi*r^3
    '''
    return 4/3*3.14*(rad**3)

In [90]:
vol_sphere(2)

33.49333333333333

In [91]:
def ran_check1(num,low,high):
    '''
    checks whether a number is in a given range (inclusive of high and low)
    '''
    return low<=num<=high

In [8]:
def ran_check(num,low,high):
    return num in range(low,high+1)

In [9]:
ran_check(5,2,7)

True

In [10]:
ran_check(15,2,7)

False

Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.

In [99]:
def up_low(s):
    '''
    Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.
    '''
    up=0
    low=0
    
    for i in s:
        if(i.isupper()):
            up+=1
        elif(i.islower()):
            low+=1
        else:
            pass
    print('Original String: ',s)
    print('Upper case char: ',up)
    print('Lower case char: ',low)

In [100]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String:  Hello Mr. Rogers, how are you this fine Tuesday?
Upper case char:  4
Lower case char:  33

Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [101]:
def unique_list(lst):
    '''
    Write a Python function that takes a list and returns a new list with unique elements of the first list.
    '''
    return list(set(lst))

In [102]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [11]:
def unique_list1(lst):
    '''
    Write a Python function that takes a list and returns a new list with unique elements of the first list.
    '''
    list1 = []
    for a in lst:
        if a not in list1:
            list1.append(a)
    return list1

In [12]:
unique_list1([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

Write a Python function to multiply all the numbers in a list.

In [13]:
def multiply(*numbers):  
    '''
    Write a Python function to multiply all the numbers in a list.
    '''
    total = 1
    for x in numbers:
        total *= x
    return total

In [14]:
multiply(1,2,3,-4)

-24

Write a Python function that checks whether a passed in string is palindrome or not.

In [43]:
def palindrome1(s):
    '''
    Write a Python function that checks whether a passed in string is palindrome or not.
    '''
    s = s.replace(' ','') #removing spaces
    return s == s[::-1]

In [55]:
def palindrome(string1):
    
    string2 = ''
    for s in string1:
        if s == ' ':
            continue
        
        string2 += s
        
    rev_string = ''
    
    length = len(string2) - 1
    
    while length >= 0:
        rev_string = rev_string + string2[length]
        length -= 1
    
    return string2 == rev_string

In [56]:
palindrome('nurses run')

True

To check whether a string is pangram or not.
Pangrams are words or sentences containing every letter of the alphabet at least once.

In [18]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    '''
    To check whether a string is pangram or not.
    Pangrams are words or sentences containing every letter of the alphabet at least once.
    '''
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())

In [19]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [5]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'